<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocha.springbootwar.mapper.OutauthBaseMapper">


    <select id="getAllList" resultType="com.mocha.springbootwar.bean.OutauthBaseInfo">
       select l.*, r.org_code, r.org_name  from outauth_base_info l left join 
       outauth_base_info_rel r on l.base_id = r.base_id
    </select>

</mapper>